.title h1 {
color: #000;
font-size: 56px;
font-weight: 500;
line-height: 70px; 
}

.title h2 {
color: #222;
font-size: 40px;
font-weight: 500;
line-height: 60px;
}

.title p {
color: #555;
font-size: 20px;
font-weight: 400;
line-height: 32px;
}